@model VendingMachine.Dto.VendingMachineDto

<h2>Credit</h2>
<div>@string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-ES"), "{0:C}", Model.MoneyInserted.Sum(c => c.Value))</div>
<div>
    @if (Model.MoneyEjected != null && Model.MoneyEjected.Any())
    {
        <h2>Ejected Coins</h2>
        <ul>
            @foreach (var item in Model.MoneyEjected)
            {
                <li>@item.CoinTypeName</li>
            }
        </ul>

    }
    @if (Model.Message != null && Model.Message.Length > 0)
    {
        if (Model.Message == "Thank you!")
        {
            <h3 class="alert-success">@Model.Message</h3>
        }
        else
        {
            <h3 class="alert-danger">@Model.Message</h3>
        }

    }
</div>
